

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
}

body {
    background: #4a5b86;
}

.content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "a b c d e f g h"
    "b c d e f g h a";
   
}
.content-box {

}

.one {
    grid-area: a;
    background: yellow;
}
.two {
    grid-area: b;
    background: cyan;
}
.three {
    grid-area: c;
    background: cornflowerblue;
}
.four {
    grid-area: d;
    background: aqua;
}
.five {
    grid-area: e;
    background: olive;
}
.six {
    grid-area: f;
    background: orange;
}
.seven {
    grid-area: g;
    background: rebeccapurple;
}
.eight {
    grid-area: h;
    background: greenyellow;
}
